auth.php
.vs/RecipeWebsite/v17/.wsuo
.vs/RecipeWebsite/FileContentIndex/read.lock
.vs/RecipeWebsite/FileContentIndex/b67a1272-5203-438c-b9da-ea0cb8ff8054.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
